.navbar-brand h1 {
    color: #7c277a;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
#collapsable-nav {
    background-color: white;
}
.navbar>.container-fluid, .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7c277a;
}
#collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.5em;
}
#nav-list a {
    color: #7c277a;
    text-align: center;
}
#nav-list hr {
    margin: 2px;
    border-top: 1px solid #7c277a;
}
.page-header h1 {
    text-align: center;
}
#home-tiles #chicken-tile, #home-tiles #beef-tile, #home-tiles #sushi-tile {
    position: relative;
    overflow: auto;
    background-color: grey;
    padding: 10px;
    margin: 10px;
}
#home-tiles #chicken-title, #home-tiles #beef-title, #home-tiles #sushi-title {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}